@charset "UTF-8";
@font-face {
  font-family: 'Roboto Slab';
  src: url('fonts/RobotoSlab-Regular.ttf') format('truetype'),
       url('fonts/RobotoSlab-ExtraBold.ttf') format('truetype');
}

:root {
  --negro: #393939;
  --blanco: #ececec;
  --sombra-ppal: #c9c9c9;
  --sombra-sec: #ffffff;
  --borde-negro: #00000050;
  --marcado: rgb(127, 195, 255);
  --tipo-principal: font-family: 'Roboto Slab', serif;

  --boton-border-radius: .3em;
  --boton-background-color: rgba(217, 224, 237, 0.646);
  --boton-box-shadow: 1.25rem 1rem 2.5rem rgba(217, 224, 237, 0.302),
    -1.25rem -1.25rem 2.5rem rgba(46, 49, 67, 0.407);
  --boton-width: fit-content;
  --boton-padding: .3rem 1.7rem;
  --boton-overflow: hidden;
  --boton-color: #01020c;
  --boton-margin: auto;
  --boton-font-size: 1.7rem;
  --boton-font-weight: bold;
  --boton-transition: background-position .1s;
  --boton-cursor: pointer;
  --boton-gradient-start: rgb(145, 152, 186);
  --boton-gradient-end: transparent;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
    --blanco: #303030;
    --sombra-ppal: #242424;
    --sombra-sec: #3c3c3c;
    --borde-negro: #FFFFFF50;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
p,
strong {
  -webkit-hyphens: auto;
  hyphens: auto;
  font-weight: bold;
  font-size: inherit;
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

form,
input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  display: block;
}

body {
  font-family: var(--tipo-principal);
  font-size: 100%;
  line-height: 1rem;
  width: 100%;
  background-color: var(--blanco);
  color: var(--negro);
  -webkit-hyphens: auto;
  hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  position: fixed;
  width: 100vw;
  max-height: 10vh;
  display: flex;
  flex-flow: row wrap;
  z-index: 1;
  background-color: rgba(42, 47, 52, 0.7);
  box-shadow: .5em .5em .6em var(--sombra-ppal), -.5em -.5em .6em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.menu {
  top: 0;
  color: #fff;
  width: 100%;
  max-height: inherit;
  padding: 1em;
}

.menu__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-height: 10vh;
  margin: 0;
  top: 0;
}
.menu__logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background: linear-gradient(to right, #c9c9c9, #564f4fac);
  border-radius: 1em;
  top: 0;
  padding: .1rem;
  max-height: 10vh;
  /*transform: translateY(-.7rem);*/
}
.menu__logo img{
  max-height: 2.7rem;
  transition: all 0.4s ease;
}
.menu__logo span{
  min-width: fit-content;
}

.menu__mapa {
  animation: blink-animation 3s infinite;
}

@keyframes blink-animation {
  0% {
    filter: brightness(1);
  }

  50% {
    filter: brightness(1.5);
  }

  100% {
    filter: brightness(1);
  }
}

.menu__links {
  height: 100%;
  transition: transform .5s;
  display: flex;
  justify-content: space-between;
  border-radius: 1em;
  padding: .6rem;
  background-color: var(--blanco);
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  font-family: var(--tipo-principal);
  font-size: 1rem;
}

.menu__item {
  position: relative;
  height: 100%;
  --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
  --transform: rotate(-90deg);
}

.menu__item:hover {
  --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  --transform: rotate(0);
}

.menu__link {
  color: #fff;
  text-decoration: none;
  padding: 0 .6rem;
  display: flex;
  height: 100%;
  align-items: center;
}

.menu__link:hover {
  background-color: rgba(123, 140, 174, 0.463);
}


.menu__arrow {
  transform: var(--transform);
  transition: transform .3s;
  display: block;
  margin-left: .1875rem;
  width: 1.3rem;
}

.menu__nesting {
  list-style: none;
  transition: clip-path .3s;
  clip-path: var(--clip);
  position: absolute;
  right: 0;
  bottom: 0;
  width: max-content;
  transform: translateY(100%);
  background-color: #0d314bfc;
  transition: all 0.4s ease;
  border-radius: 1em;
  padding: .7rem;
  box-shadow: 0.6em 0.6em 1.2em var(--sombra-ppal), -0.6em -0.6em 1.2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.menu__nesting li {
  padding: .6rem;
}

.menu__link--inside {
  top: 3rem;
  font-size: 1.2rem;
}

.menu__link--inside:hover {
  background-color: rgba(0, 0, 0, 0.43);
}

.menu__hamburguer {
  height: inherit;
  display: none;
  padding: 0 .9rem;
  cursor: pointer;
}

.menu__img {
  display: block;
  max-width: 2.5rem;
  opacity: .9;
}

@media (max-width:919px) {
  .menu__hamburguer {
    display: flex;
  }

  .menu__item {
    --clip: 0;
    overflow: hidden;
  }

  .menu__item--active {
    --transform: rotate(0);
    --background: rgba(49, 54, 65, 0.601);
  }

  .menu__item--show {
    background-color: var(--background);
  }

  .menu__links {
    position: fixed;
    max-width: 25rem;
    width: 100%;
    top: 4.375rem;
    bottom: 0;
    right: 0;
    background-color: #242424;
    overflow-y: auto;
    display: grid;
    grid-auto-rows: max-content;
    transform: translateX(100%);
  }

  .menu__links--show {
    transform: unset;
    width: 100%;
  }

  .menu__link {
    padding: 1rem 0;
    padding-left: 1.875rem;
    height: auto;
  }

  .menu__arrow {
    margin-left: auto;
    margin-right: 1rem;
  }

  .menu__nesting {
    display: grid;
    position: unset;
    width: 100%;
    transform: translateY(0);
    height: 0;
    transition: height .3s;
  }

  .menu__link--inside {
    width: 90%;
    margin-left: auto;
    border-left: 1px solid #798499;
  }
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: up .8s ease-in;
}

@keyframes up {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.carrousel {
  position: relative;
  max-width: 100vw;
  height: fit-content;
  padding: 1em;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: rgba(179, 214, 249, 0.169);
  box-shadow: .5em .5em .6em var(--sombra-ppal), -.5em -.5em .6em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  overflow: hidden;
  z-index: -1;
  margin-bottom: 1rem;
}

.carrousel .grande {
  width: 200%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: .5em .5em 1em var(--sombra-ppal), -.5em -.5em 1em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  padding: 1em;
  transition: all 0.5s ease;
  animation: desplazamiento 10s infinite;
}

@keyframes desplazamiento {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
    /* Desplazamiento del 50% para mostrar la segunda imagen */
  }
}

.carrousel .img {
  width: calc(100% / 2 - 2em);
  min-height: 10vh;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  flex: 0 0 50%;
}

.servicios {
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: .5em .5em 1em var(--sombra-ppal), -.5em -.5em 1em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  padding: 3rem;
  max-height: 100vh;
  min-height: 100%;
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  display: flex;
  gap: 3rem;
  align-items: center;
  overflow: hidden;
}

.servicios--reverse {
  flex-direction: row-reverse;
}

.servicios__text {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  padding: 2rem;
  max-width: 50%;
  gap: 1rem;
}

.servicios p {
  font-size: 1.5rem;
  word-wrap: break-word;
  letter-spacing: .1rem;
  line-height: 1.7rem;
}

.servicios__text p strong {
  font-weight: bold;
}

.servicios__title {
  font-size: 2rem;
  font-weight: bold;
  background-color: rgba(64, 84, 123, 0.875);
  padding: .6rem;
  border-radius: 1em;
}

.servicios__figure {
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: rgba(47, 41, 41, 0.338);
  box-shadow: 0.6em 0.6em 1.2em var(--sombra-ppal), -0.6em -0.6em 1.2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.servicios__img {
  width: 100%;
  border-radius: 1em;
}

[data-animation="fade"] {
  opacity: 0;
  transform: translate(100%);
  transition: .6s ease-in-out .3s;
  --opacity: 1;
  --transform: translate(0);
}

[data-animation="show"] {
  opacity: 0;
  transform: scale(0);
  transition: .6s ease-in .3s;
  --opacity: 1;
  --transform: scale(1);
}

[data-animation="up"] {
  opacity: 0;
  transform: translateY(100%);
  transition: .6s ease-in .3s;
  --opacity: 1;
  --transform: translateY(0);
}

.unset {
  opacity: var(--opacity);
  transform: var(--transform);
}

@media (max-width: 919px) {
  .servicios {
    flex-direction: column;
    height: 100vh;
    width: 100%;
  }

  .servicios__text {
    max-width: 100%;
    height: fit-content;
    order: 1;
  }

  .servicios__title {
    font-size: 1.5rem;
  }

  .servicios__text p {
    font-size: 1rem;
    line-height: 1rem;
  }

  .servicios__figure {
    max-width: 100%;
    height: fit-content;
    order: 2;
    display: none;
  }
}

.planes {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  text-align: center;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: .5em .5em 1em var(--sombra-ppal), -.5em -.5em 1em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  margin: 1rem;
  padding: .7rem;
  width: 100vw;
}

.planes__titulo {
  font-size: 2rem;
  padding: .7rem;
  line-height: 1.1;
}

.planes__seleccion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: .7rem;
}

.planes__boton,
.plan__boton {
  border-radius: var(--boton-border-radius);
  background-color: var(--boton-background-color);
  box-shadow: var(--boton-box-shadow);
  width: var(--boton-width);
  padding: var(--boton-padding);
  overflow: var(--boton-overflow);
  color: var(--boton-color);
  margin: var(--boton-margin);
  font-size: 1.1rem;
  font-weight: var(--boton-font-weight);
  transition: var(--boton-transition);
  cursor: var(--boton-cursor);
}

.planes__boton:hover,
.plan__boton:hover {
  background: linear-gradient(to right, var(--boton-gradient-start) 0%, var(--boton-gradient-end) 100%);
  background-size: 200% 100%;
  background-position: -100% 0;
  color: #c9c9c9;
}

.planes__boton:hover::after,
.plan__boton:hover::after {
  background-position: 100% 0;
}

.planes__contenedor {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  gap: 1rem;
  display: none;
}

.plan {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  min-width: 20rem;
  transition: all 0.4s ease;
  border-radius: 1em;
  box-shadow: .5em .5em 1em var(--sombra-ppal), -.5em -.5em 1em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  background-color: rgba(31, 40, 59, 0.722);
}

.plan__titulo {
  font-size: 1.5rem;
}

.plan__lista {
  list-style-type: none;
  padding: 0;
  margin-bottom: 1rem;
}

.plan__item {
  margin-bottom: 0.5rem;
}

.plan__desplegable {
  display: none;
}

.planes__contenido {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: .5em .5em 1em var(--sombra-ppal), -.5em -.5em 1em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  margin: 1em;
  padding: 1rem;
}

.planes__parrafo {
  font-size: 1.1rem;
  line-height: 1.3rem;
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: .5em .5em 1em var(--sombra-ppal), -.5em -.5em 1em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  padding: 1rem;
  width: 100%;
  margin: .7rem;
}

.planes__iconos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
}

.planes__icono img {
  max-width: 7rem;
  height: auto;
  margin: 0 2rem;
}

.planes__lista {
  transition: all 0.4s ease;
  border-radius: 1em;
  background: linear-gradient(145deg, #d7e4fcb5, #98b8f49c);
  box-shadow: .2rem .2rem .3rem #a4bcea9f,
    -.2rem -.2rem .3rem #6788c5d5;
  display: flex;
  flex-flow: column wrap;
  gap: .5rem;
  margin: .7rem;
  color: #01020c;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1.3rem;
  font-weight: bold;
  line-height: 1.3rem;
}

.planes__item {
  list-style-type: disc;
  font-size: 1.3rem;
}

@media (min-width: 700px) {
  .planes__contenedor {
   
    grid-template-columns: repeat(auto-fill, minmax(1fr, 300px));
    gap: 1rem;
    justify-items: center;
    align-items: center;
  }

}

.vehiculos {
  display: grid;
  grid-template-rows: auto;
  gap: 1rem;
  text-align: center;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: .5em .5em 1em var(--sombra-ppal), -.5em -.5em 1em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  margin: 1em;
}

.vehiculos__titulo {
  font-size: 2rem;
  padding: 1em;
  line-height: 1.1;
  height: fit-content;
}

.vehiculos__contenido {
  display: grid;
  grid-template-rows: auto;
  align-self: center;
  justify-items: center;
  gap: 1rem;
  margin: 1rem;
  font-size: 1.5rem;
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: .5em .5em 1em var(--sombra-ppal), -.5em -.5em 1em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  padding: 1rem;
}

.vehiculos__fila1, .vehiculos__fila2 {
  display: grid;
  grid-template-columns: 1fr;
  align-self: center;
  justify-items: center;
  gap: 1rem;
}

.vehiculos__lista, .vehiculos__texto {
  text-align: center;
  line-height: 1.3rem;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: .5em .5em 1em var(--sombra-ppal), -.5em -.5em 1em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  margin: 1em;
  padding: 1rem;
}

@media (min-width: 768px) {
  .vehiculos__contenido {
    grid-template-columns: 1fr 1fr;
  }

  .vehiculos__fila {
    gap: 1rem;
  }
}


.ambulancia {
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: .5em .5em 1em var(--sombra-ppal), -.5em -.5em 1em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  margin: 1em;
}

.ambulancia__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 60%;
  margin: 5rem auto;
}

.ambulancia__grid:hover .ambulancia__text {
  clip-path: circle(150% at top left);
}

.ambulancia__grid img {
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
}

.ambulancia__text {
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 2.5rem;
  line-height: 1.1;
  background-color: rgba(31, 40, 59, 0.722);
  display: grid;
  place-items: center;
  text-align: center;
  clip-path: circle(0 at top left);
  transition: clip-path .4s
}

.ubicacion {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 1rem;
  text-align: center;
  width: 100%;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: .5em .5em 1em var(--sombra-ppal), -.5em -.5em 1em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;

}

.ubicacion__contenido {
  grid-row: 1;
  align-self: center;
  justify-self: center;
  font-size: 1.5rem;
  line-height: 1.9rem;
  text-align: center;
}

.ubicacion__mapa {
  grid-row: 2;
  border-radius: 1em;
}

@media screen and (min-width: 768px) {
  .ubicacion {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    text-align: left;
  }

  .ubicacion__contenido {
    grid-column: 1;
    width: 100%;
    height: 100%;
    background-image: url('/assets/cocheria.png');
    background-size: cover;
  }

  .ubicacion__contenido ul {
    margin-top: 25%;
  }

  .ubicacion__mapa {
    grid-column: 2;
    grid-row: 1;
  }
}
.pie{
  max-width: 100vw;
}
.pie__contain figure img{
  width: 13rem;
}
.pie__contain{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #798499;
  padding: 1em;
}
.pie__redes{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.pie__redes img{
  width: 3rem;
  height: auto;
  color: #393939;
}